<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EduCube Web Interface | UCD Space Science & Technology</title>

  <!-- Bootstrap Core JavaScript -->
  <!-- jQuery -->
  <script src="{{ static_url("libraries/jquery/jquery.js") }}"></script>  

  <!-- jQuery template engine -->
  <script src="{{ static_url("libraries/jquery/jquery.tmpl.min.js") }}"></script>
  <!-- Charting -->
  <script src="{{ static_url("libraries/highcharts/highcharts.js") }}">
  </script>
  <link href="{{ static_url("libraries/highcharts/highcharts.css") }}" 
    rel="stylesheet">

  <!-- Bootstrap -->
  <script src="{{ static_url("libraries/bootstrap/bootstrap.js") }}">
  </script>    
  <link href="{{ static_url("libraries/bootstrap/bootstrap.css") }}" 
    rel="stylesheet">

  <!-- Sexy notifications -->
  <!-- 
  <link href="{{ static_url("css/pnotify.custom.min.css") }}" rel="stylesheet">
  <script src="{{ static_url("libraries/pnotify/pnotify.custom.min.js") }}">
  </script>
  -->
  <link href="{{ static_url("libraries/animate.css") }}" 
    rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ static_url("libraries/portfolio-item.css") }}" 
    rel="stylesheet">
  
  <!-- Charting -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- noUiSlider -->
  <link href="{{ static_url("libraries/nouislider/nouislider.css") }}" 
    rel="stylesheet">
  <script src="{{ static_url("libraries/nouislider/nouislider.js") }}">
  </script>

  <script src="{{ static_url("js/clickslider.js")}}"></script>

  <!-- CSS (removed from style tags in earlier html versions -->
  <link href="{{ static_url("css/educube.css")}}" 
    rel="stylesheet" type="text/css">
  <link href="{{ static_url("css/telemetry.css")}}"
    rel="stylesheet" type="text/css">


  <!-- EduCube JS -->
  <script src="{{ static_url("js/sockethandler.js") }}"></script>
  <script src="{{ static_url("js/telemetry.js") }}"></script>
  <script src="{{ static_url("js/commands.js") }}"></script>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/locale/en-ie.js"></script>


</head>

<body>
  <!-- Page Content -->
  <div class="container-fluid">
    <!-- Portfolio Item Heading -->
    <div class="row">
      <div class="col-sm-12">
        <h1 class="page-header">EduCube</h1>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-sm-12">
          {% block board_views %}
          boardviews
          {% end %}
      </div>

      <div class="hidden-sm col-md-1 col-lg-1">
        <div id="telemetry_block"></div>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          {# <p>Copyright &copy; EduCube 2016</p> #}
        </div>
      </div>
      <!-- /.row -->
    </footer>
  </div>
  <!-- /.container -->

  <!-- Mapping -->

</body>

</html>
