<div class="tab-pane fade" id="board_eps">
    <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">EPS Commands</div>
          <div class="panel-body">
            EPS commands
          </div>
        </div>
    </div>

    <div class="col-sm-12 telem_content">
        <div class="alert alert-warning" role="alert">
            EPS Telemetry has not been received yet
        </div>
    </div>    
</div>


<div style="display:none;">
    <div id="tmpl-eps_telem_view" type="text/x-jQuery-tmpl">
        <div class="row">
            <h3>Device Charging: ${CHARGING}</h3>
        </div>
        <div class="row">
            <h3>OneWire</h3>
            <div class="col-sm-4 ow-block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">DS2438</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Temp</dt><dd><span class="label label-primary">${DS2438.temp} V</span></dd>
                            <dt>Voltage</dt><dd><span class="label label-primary">${DS2438.voltage} V</span></dd>
                            <dt>Current</dt><dd><span class="label label-primary">${DS2438.current} mA</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ow-block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">DS18B20_A</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Temp</dt><dd><span class="label label-primary">${DS18B20_A.temp} C</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ow-block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">DS18B20_B</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Temp</dt><dd><span class="label label-primary">${DS18B20_B.temp} C</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>INA information</h3>  
            {{!each INA}}
                <div class="col-sm-2 ina-block">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">INA: ${address}</h3>
                        </div>
                        <div class="panel-body">
                            <dl>
                                <dt>Bus</dt><dd><span class="label label-primary">${bus_V} V</span></dd>
                                <dt>Shunt</dt><dd><span class="label label-primary">${shunt_V} V</span></dd>
                                <dt>Current</dt><dd><span class="label label-primary">${current_mA} mA</span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            {{!/each}}
        </div>
    </div>
</div>
