<div class="tab-pane fade" id="board_exp">
    <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">EXP Commands</div>
          <div class="panel-body">
            
            <div class="col-sm-6">
              <div class="input-group">
                  <span class="input-group-addon">P1 Heat%</span>
                  <input type="number" class="form-control feed_educube_action" data-actionsel="#p1_heat" data-cmdbefore="HEAT|1|" data-cmdafter="" min="0" max="100">
                  <span class="input-group-btn">
                      <button id="p1_heat" type="button" data-board="EXP" data-cmd="" class="educube_action btn btn-default">Submit</button>
                  </span>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="input-group">
                  <span class="input-group-addon">P2 Heat%</span>
                  <input type="number" class="form-control feed_educube_action" data-actionsel="#p2_heat" data-cmdbefore="HEAT|2|" data-cmdafter="" min="0" max="100">
                  <span class="input-group-btn">
                      <button id="p2_heat" type="button" data-board="EXP" data-cmd="" class="educube_action btn btn-default">Submit</button>
                  </span>
              </div>
            </div>

          </div>
        </div>
    </div>
    <div class="col-sm-12 telem_content">
        <div class="alert alert-warning" role="alert">
            EXP Telemetry has not been received yet
        </div>
    </div>
</div>


<div style="display:none;">
    <div id="tmpl-exp_telem_view" type="text/x-jQuery-tmpl">
        
        <div class="row">
            <h3>Power</h3>  
            <div class="col-sm-4 ina-block">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">Heater power</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Panel 1</dt><dd><span class="label label-primary">${THERM_PWR.P1} %</span></dd>
                            <dt>Panel 2</dt><dd><span class="label label-primary">${THERM_PWR.P2} %</span></dd>
                        </dl>
                    </div>
                </div>
            </div>

            {{!each INA}}
                <div class="col-sm-4 ina-block">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">INA: ${address}</h3>
                        </div>
                        <div class="panel-body">
                            <dl>
                                <dt>Bus</dt><dd><span class="label label-primary">${bus_V} V</span></dd>
                                <dt>Shunt</dt><dd><span class="label label-primary">${shunt_V} V</span></dd>
                                <dt>Current</dt><dd><span class="label label-primary">${current_mA} mA</span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            {{!/each}}
        </div>

        <div class="row">
            <h3>Temperature</h3>  
            <div class="col-sm-4 ina-block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Panel 1</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>TempA</dt><dd><span class="label label-primary">${PANEL_TEMP.P1.A} C</span></dd>
                            <dt>TempB</dt><dd><span class="label label-primary">${PANEL_TEMP.P1.B} C</span></dd>
                            <dt>TempB</dt><dd><span class="label label-primary">${PANEL_TEMP.P1.C} C</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ina-block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Panel 2</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>TempA</dt><dd><span class="label label-primary">${PANEL_TEMP.P2.A} C</span></dd>
                            <dt>TempB</dt><dd><span class="label label-primary">${PANEL_TEMP.P2.B} C</span></dd>
                            <dt>TempB</dt><dd><span class="label label-primary">${PANEL_TEMP.P2.C} C</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>
