<div class="tab-pane fade" id="board_eps">
    <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">EPS Commands</div>
          <div class="panel-body">
            
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Enable Pin</span>
                    <select class="form-control feed_educube_action"  data-actionsel="#pin_on_select" data-cmdbefore="PWR_ON|" data-cmdafter="">
                        <option value="R">Radio</option>
                        <option value="1">SW1</option>
                        <option value="2">SW2</option>
                        <option value="3">SW3</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="pin_on_select" type="button" data-board="EPS" data-cmd="" class="educube_action btn btn-info">Send</button>
                    </span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">Disable Pin</span>
                    <select class="form-control feed_educube_action"  data-actionsel="#pin_off_select" data-cmdbefore="PWR_OFF|" data-cmdafter="">
                        <option value="R">Radio</option>
                        <option value="1">SW1</option>
                        <option value="2">SW2</option>
                        <option value="3">SW3</option>
                    </select>
                    <span class="input-group-btn">
                        <button id="pin_off_select" type="button" data-board="EPS" data-cmd="" class="educube_action btn btn-info">Send</button>
                    </span>
                </div>
            </div>
            <div class="col-md-4">
            |
              <button data-board="CDH" data-cmd="OP" class="educube_action btn btn-sm btn-warning"><abbr title="Toggle Operational Mode">Op Mode</abbr></button>
              <button data-board="EPS" data-cmd="T" class="educube_action btn btn-sm btn-info pull-right">Request Telemetry</button>
            </div>
            
          </div>
        </div>
    </div>

    <div class="col-sm-12 telem_content">
        <div class="alert alert-warning" role="alert">
            EPS Telemetry has not been received yet
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pwr_modal_chart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Power visualization</h4>
          </div>
          <div class="modal-body">
            <div id="current_container" style="width:100%; height:400px;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>


<div style="display:none;">
    <script id="tmpl-eps_telem_view" type="text/x-jQuery-tmpl">
        <div class="row">
            <h3>Device Charging: ${CHARGING}</h3>
        </div>
        <div class="row">
            <h3>EduCube Battery</h3>
            <div class="col-sm-6 ow-block">
                <dl class="dl-horizontal">
                    <dt>Voltage</dt><dd><span class="label label-primary">${DS2438.voltage} V</span></dd>
                    <dt>Current</dt><dd><span class="label label-primary">${DS2438.current} mA</span></dd>
                </dl>
            </div>
            <div class="col-sm-6 ow-block">
                <dl class="dl-horizontal">
                    <dt>Temp (Battery 1)</dt>
                    <dd><span class="label label-primary">${DS18B20_A.temp} C</span></dd>
                    <dt>Temp (Battery 2)</dt>
                    <dd><span class="label label-primary">${DS18B20_B.temp} C</span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <h3>Power readout
            </h3>  

            <table id="ina_pwr_list" class="table table-striped table-bordered table-hover dataTable no-footer display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Board ID</th>
                        <th>Bus (V)</th>
                        <th>Current (mA)</th>
                        <th>Power (mW)</th>
                        <th>Control</th>
                    </tr>
                </thead>

                <tbody>
                {{!each INA}}
                    <tr>
                        <td>${name}</td>
                        <td>${bus_V}</td>
                        <td>${current_mA}</td>
                        <td>${power_mW}</td>
                        <td>
                        {{!if command_id}}
                            <button data-board="EPS" data-cmd="PWR_ON|${command_id}" class="educube_action btn btn-xs btn-success">ON</button>
                            <button data-board="EPS" data-cmd="PWR_OFF|${command_id}" class="educube_action btn btn-xs btn-danger">OFF</button>
                        {{!else}}
                            <span class="label label-default">N/A</span>
                        {{!/if}}
                        </td>
                    </tr>
                {{!/each}}
                </tbody>
            </table>
            
        </div>
    </script>
</div>
