<div class="tab-pane fade" id="board_eps">
    <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading">EPS Commands</div>
          <div class="panel-body">
            
            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-addon">Enable Pin</span>
                    <input type="number" class="form-control feed_educube_action" data-actionsel="#pin_on_select" data-cmdbefore="PIN_ON|" data-cmdafter="" min="64" max="75">
                    <span class="input-group-btn">
                        <button id="pin_on_select" type="button" data-board="EPS" data-cmd="" class="educube_action btn btn-info">Send</button>
                    </span>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="input-group">
                    <span class="input-group-addon">Disable Pin</span>
                    <input type="number" class="form-control feed_educube_action" data-actionsel="#pin_off_select" data-cmdbefore="PIN_OFF|" data-cmdafter="" min="64" max="75">
                    <span class="input-group-btn">
                        <button id="pin_off_select" type="button" data-board="EPS" data-cmd="" class="educube_action btn btn-info">Send</button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
            |
              <button data-board="CDH" data-cmd="OP" class="educube_action btn btn-warning"><abbr title="Toggle Operational Mode">Op Mode</abbr></button>
            </div>
            
          </div>
        </div>
    </div>

    <div class="col-sm-12 telem_content">
        <div class="alert alert-warning" role="alert">
            EPS Telemetry has not been received yet
        </div>
    </div>    
</div>


<div style="display:none;">
    <div id="tmpl-eps_telem_view" type="text/x-jQuery-tmpl">
        <div class="row">
            <h3>Device Charging: ${CHARGING}</h3>
        </div>
        <div class="row">
            <h3>OneWire</h3>
            <div class="col-sm-4 ow-block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">DS2438</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Temp</dt><dd><span class="label label-primary">${DS2438.temp} V</span></dd>
                            <dt>Voltage</dt><dd><span class="label label-primary">${DS2438.voltage} V</span></dd>
                            <dt>Current</dt><dd><span class="label label-primary">${DS2438.current} mA</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ow-block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">DS18B20_A</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Temp</dt><dd><span class="label label-primary">${DS18B20_A.temp} C</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ow-block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">DS18B20_B</h3>
                    </div>
                    <div class="panel-body">
                        <dl>
                            <dt>Temp</dt><dd><span class="label label-primary">${DS18B20_B.temp} C</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>INA information</h3>  
            {{!each INA}}
                <div class="col-sm-2 ina-block">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">INA: ${address}</h3>
                        </div>
                        <div class="panel-body">
                            <dl>
                                <dt>Bus</dt><dd><span class="label label-primary">${bus_V} V</span></dd>
                                <dt>Shunt</dt><dd><span class="label label-primary">${shunt_V} V</span></dd>
                                <dt>Current</dt><dd><span class="label label-primary">${current_mA} mA</span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            {{!/each}}
        </div>
    </div>
</div>
