<style>
#telemetry_block{ 
    position: relative;
    overflow: hidden;
    height: 400px;
}

.ina-block .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

}

.ina-block .panel-body {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.ow-block .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

}

.ow-block .panel-body {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
</style>

<div id="telemetry_block">
</div>
